.bottomNav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #707070; /* Set to dark grey */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;
  transition: background-color 0.3s;
}
.transparent {
  background-color: transparent;
}
.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000; /* สีข้อความดำ */
  text-decoration: none; /* ไม่มีเส้นใต้ข้อความ */


}
.navLabel {

   /* Adjust as needed */
  color: #fff; /* Change the text color as needed */
  
  /* You may need additional styling here */
}

.navItem p {
  font-size: 16px; /* ขนาดข้อความ */
  margin-top: 4px; /* ระยะห่างระหว่างไอคอนกับข้อความ */
}
.bottomNavScrolled {
  background-color: #fff; /* Change to white when scrolled to the bottom */
}