.bottomNav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #707070; /* Set to dark grey */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;
  transition: background-color 0.3s;
}
.transparent {
  background-color: transparent;
}
.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000; /* Black text color */
  text-decoration: none; /* No underline */
  position: relative; /* Required for positioning pseudo-elements */
  padding: 0 10px; /* Add padding to create space for the lines */
  border-right: 2px solid white;
}

.navItem:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 70%; /* Adjust the height as needed */
  width: 2px; /* Width of the line */
  background-color: #fff; /* White color for the line */
}
.navLabel {

   /* Adjust as needed */
  color: #fff; /* Change the text color as needed */
  
  /* You may need additional styling here */
}

.navItem p {
  font-size: 14px; /* ขนาดข้อความ */
  margin-top: 4px; /* ระยะห่างระหว่างไอคอนกับข้อความ */
}
.bottomNavScrolled {
  background-color: #fff; /* Change to white when scrolled to the bottom */
}