/* CalculateCar.module.css */
.container {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  flex-direction: column;
  color: #000;
  margin-top: 70px;
}

.loanTermSelectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colorName {
  font-size: 1em; /* Example size, adjust as needed */
  font-weight: bold; /* If you want the name to be bold */
  margin-bottom: 0.5rem; /* Spacing below the color name */
  text-align: center; /* Center align */
  /* Add more styles as needed */
}
.priceLabel {
  color: #000000; /* Black color for the label */
  font-size: 1.2em; /* Adjust the size as needed */
  margin-bottom: 0.5rem; /* Spacing below the label */
  text-align: center; /* Center align */
}
.carPrice {
  font-size: 1.2em; /* Larger text for the price */
  color: #D32F2F; /* Example color, change as needed */
  margin-bottom: 0.5rem; /* Spacing below the label */
  text-align: center; /* Center align */
  /* Add more styles as needed */
}
.priceContainer {
  display: flex; /* Use flexbox for layout */
  /* flex-direction: column; Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
}

.calculateCarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
  
   
    
    margin: auto;
    margin-top: 50px;
  }

  .calculateCarContainercomponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    margin: auto;
    
  }
  .calculateCarContainercomponent1 {
    display: flex;
    flex-direction: column;
  
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    margin: auto;
    
  }
  .typeHeader {
    border-bottom: 1px solid #f55a5a;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #000;
  }
  .percentageSelectContainer {
    width: 100%; /* This will make sure each select box fills the parent container */
    max-width: 300px; /* You can set a max-width if needed */

    border-radius: 5px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
  }
  .customInput {
    display: block; /* Makes the input a block element to fill the width of its container */
    width: 100%; /* Sets the width to occupy the full width of its parent */
    padding-top: 10px;
    padding-left: 52px;
    padding-right: 52px;
    /* padding-left: 24px;
    padding-right: 24px; */
    align-items: center;
    padding-bottom: 10px;
    margin-top: 0.5rem; /* Adds a bit of margin above the input for spacing */
    border: 1px solid #ced4da; /* Gives the input a solid border with a light grey color */
    border-radius: 4px; /* Rounds the corners of the input field */
    box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
    text-align: center; /* Centers the text inside the input */
  }
  .customInput1 {
    display: block; /* Makes the input a block element to fill the width of its container */
    width: 100%; /* Sets the width to occupy the full width of its parent */
    padding-top: 10px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 10px;
    margin-top: 0.5rem; /* Adds a bit of margin above the input for spacing */
    border: 1px solid #ced4da; /* Gives the input a solid border with a light grey color */
    border-radius: 4px; /* Rounds the corners of the input field */
    box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
  }
  .percentageButtonContainer {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    gap: 10px; /* Adds space between the buttons */
  } 
  .loading {
    color: #007bff;
    font-size: 1.5rem;
  }
  
  .error {
    color: #dc3545;
    font-size: 1.2rem;
  }
  
  .dropdown {
    width: 100%; /* This will make sure each select box fills the parent container */
    max-width: 300px; /* You can set a max-width if needed */
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
  }
  
  .button {
    cursor: pointer;
    background-color: #2a6a6a; /* Default background color */
    border: none;
    /* Other styles... */
  }
  
  .button:hover {
    background-color: #3a7a7a; /* Color when the mouse hovers over the button */
  }
  
  .imageDisplay {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
  }

  
.colorSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  /* Ensure the color selector dots are styled as needed */
}

.colorOption {
  border:#e50c0c;
  cursor: pointer;
  display: inline-block;
  width: 24px; /* Size of the circle */
  height: 24px; /* Size of the circle */
  border-radius: 50%; /* Makes it round */
  margin: 0 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s; /* Smooth transition for the shadow effect */
}

.colorOptionpercent {
  border:#e50c0c;
  cursor: pointer;
  display: inline-block;
  width: 24px; /* Size of the circle */
  height: 24px; /* Size of the circle */
  border-radius: 50%; /* Makes it round */
  margin: 0 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s; /* Smooth transition for the shadow effect */
}

.percentageButtonContainer {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  gap: 10px; /* Adds space between the buttons */
}
.colorOption:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Larger shadow effect on hover */
}
.percentageButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  /* Add additional styles here as needed */
}
.selectedButton {
  border:#d3171774;
  cursor: pointer;
  display: inline-block;
  width: 24px; /* Size of the circle */
  height: 24px; /* Size of the circle */
  border-radius: 50%; /* Makes it round */
  margin: 0 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s; /* Smooth transition for the shadow effect */
  /* Add additional styles here as needed */
}
.monthsButton {
  /* Existing styles */
  border-radius: 50%; /* Makes the button round */
  width: 40px; /* Set the width of the circle */
  height: 40px; /* Set the height to the same as the width to make it a circle */
  line-height: 40px; /* Centers the text vertically */
}

.button.selected {
  background-color: #4a8a8a; /* Different background color for selected state */
  /* Other styles for selected button... */
}
.interestRateContainer {
  display: flex; /* Aligns label and input side by side */
  align-items: center; /* Centers them vertically */
  gap: 10px; /* Adds some space between the label and the input */
}

/* PaymentInfo.module.css */
.paymentInfoContainer {
  position: relative; /* Set the position relative for absolute child positioning */
  /* border: 2px solid red; */
  padding: 10px;
  background-color: white;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.paymentAmount {
  font-size: 2em;
  color: red;
  margin: 5px 0;
}

.paymentLabel {
  font-size: 1em;
  color: black;
}
.tittle1 {
  font-size: 1.2rem; /* Sets a larger font size */
  color: #333; /* Standard dark grey text */
  text-align: center; /* Centers the text */
  margin-top: 1rem; /* Spacing at the top */
  margin-bottom: 1rem; /* Spacing at the bottom */
  font-weight: normal; /* Default weight - change as needed */
  /* border-bottom: 2px solid #B30000; Adds a red underline */
  display: inline-block; /* Required for border to fit content width */
  padding-bottom: 0.25rem; /* Spacing between text and underline */
}

.detailButton1{
  background-color: #B30000; /* Bootstrap primary color */
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 10%; /* Adjusted padding; 20px top and bottom, 10% left and right */
  margin-bottom: 20px;
  width: auto; /* Ensure the width is automatic */
  display: block; /* To enable margin auto to work */

  
}
.insuranceImage {
  top: 0;
  left: 0;
  width: 100%; /* Set width to match the container */
  height: 100%; /* Set height to match the container */
  display: block;
}

.paymentInfoContainer img.insuranceImage {
  position: absolute;
  top: Xpx; /* Adjust X to position the image outside of the container vertically */
  right: Ypx; /* Adjust Y to position the image outside of the container horizontally */
  display: none; /* This will be overridden to 'block' when `showImage` is true */
}

.paymentInfoContainer img.insuranceImage.showImage {
  display: block;
}
.relativeParent {
  position: relative;
}
  /* Add more styles as you need for other elements */
  