/* CalculateCar.module.css */
.container {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  flex-direction: column;
  color: #000;
  margin-top: 100px;
}
.calculateCarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
  
   
    
    margin: auto;
    margin-top: 50px;
  }

  .calculateCarContainercomponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;


    
    margin: auto;
    
  }

  .customInput {
    display: block; /* Makes the input a block element to fill the width of its container */
    width: 100%; /* Sets the width to occupy the full width of its parent */
    padding: 0.5rem; /* Adds some padding inside the input for better text visibility */
    margin-top: 0.5rem; /* Adds a bit of margin above the input for spacing */
    border: 1px solid #ced4da; /* Gives the input a solid border with a light grey color */
    border-radius: 4px; /* Rounds the corners of the input field */
    box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
  }
  .percentageButtonContainer {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    gap: 10px; /* Adds space between the buttons */
  } 
  .loading {
    color: #007bff;
    font-size: 1.5rem;
  }
  
  .error {
    color: #dc3545;
    font-size: 1.2rem;
  }
  
  .dropdown {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  
    box-sizing: border-box;
  }
  
  .button {
    cursor: pointer;
    background-color: #2a6a6a; /* Default background color */
    border: none;
    /* Other styles... */
  }
  
  .button:hover {
    background-color: #3a7a7a; /* Color when the mouse hovers over the button */
  }
  
  .imageDisplay {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
  }

  
.colorSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  /* Ensure the color selector dots are styled as needed */
}

.colorOption {
  border:#e50c0c;
  cursor: pointer;
  display: inline-block;
  width: 24px; /* Size of the circle */
  height: 24px; /* Size of the circle */
  border-radius: 50%; /* Makes it round */
  margin: 0 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s; /* Smooth transition for the shadow effect */
}

.colorOptionpercent {
  border:#e50c0c;
  cursor: pointer;
  display: inline-block;
  width: 24px; /* Size of the circle */
  height: 24px; /* Size of the circle */
  border-radius: 50%; /* Makes it round */
  margin: 0 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s; /* Smooth transition for the shadow effect */
}

.percentageButtonContainer {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  gap: 10px; /* Adds space between the buttons */
}
.colorOption:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Larger shadow effect on hover */
}
.percentageButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  /* Add additional styles here as needed */
}
.selectedButton {
  border:#e50c0c;
  cursor: pointer;
  display: inline-block;
  width: 24px; /* Size of the circle */
  height: 24px; /* Size of the circle */
  border-radius: 50%; /* Makes it round */
  margin: 0 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s; /* Smooth transition for the shadow effect */
  /* Add additional styles here as needed */
}
.monthsButton {
  /* Existing styles */
  border-radius: 50%; /* Makes the button round */
  width: 40px; /* Set the width of the circle */
  height: 40px; /* Set the height to the same as the width to make it a circle */
  line-height: 40px; /* Centers the text vertically */
}

.button.selected {
  background-color: #4a8a8a; /* Different background color for selected state */
  /* Other styles for selected button... */
}
.interestRateContainer {
  display: flex; /* Aligns label and input side by side */
  align-items: center; /* Centers them vertically */
  gap: 10px; /* Adds some space between the label and the input */
}
  /* Add more styles as you need for other elements */
  