.container {
  margin-top: 50px;
  background-color: #f9f9f9;
  border-top: 5px solid #B30000; /* ปรับขนาดและสีตามต้องการ */
}
  
  .careerList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .careerItem {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
  }
  .jobListing {
    padding: 20px;
   
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the space between the job cards */
  }
  
  
  .jobCard {
    flex-basis: calc(33.333% - 20px); /* Adjust width, 20px accounts for gap */
    border: 1px solid #ccc; /* Light grey border */
    padding: 20px;
    margin-bottom: 20px; /* Space between rows */
    background-color: #fff; /* White background */
    display: flex; /* Makes it a flex container */
    flex-direction: column; /* Stacks child elements vertically */
    justify-content: space-between; /* Spreads out the child elements */
  }
  
  .jobTitle {
    font-size: 1.2rem; /* Larger font size for job title */
    color: #333; /* Dark grey color */
    margin-bottom: 10px;
  }
  
  .jobDescription {
    font-size: 1rem;
    color: #666; /* Medium grey color */
    margin-bottom: 20px;
  }
  
  .applyButton {
    background-color: #B30000; /* Red color */
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    display: inline-block; /* Allows us to set width */
    width: auto; /* Only as wide as its content */

  }

  .applyButton:hover {
    background-color: #B30000; /* Darken button color on hover */
    border-color: #B30000; /* Border color matches the text */
    animation: wiggle 0.2s ease-in-out;
  }
  /* Assuming you have a CSS module named styles.module.css */
  .jobHeader {
    color: #333; /* Dark grey color */
    font-size: 2rem; /* 32px */
    text-align: center; /* Center align text */
    margin-top: 1rem; /* 16px top margin */
    margin-bottom: 1rem; /* 16px bottom margin */
    font-weight: bold; /* Bold font weight */
    padding: 0.5rem; /* 8px padding */
    background-color: #f8f8f8; /* Light grey background */

    text-decoration: underline; /* Adds underline */
    text-decoration-color: #B30000; /* Sets underline color to red */
    text-transform: uppercase; /* UPPERCASE LETTERS */
    letter-spacing: 1px; /* Spacing between letters for better readability */
  }
  
 
  
  

  /* Add more styling as needed */
  @media (max-width: 768px) {
    .jobCard {
      flex-basis: 100%; /* Takes full width on smaller screens */
    }
  }

  
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }