
.header {
  position: relative; /* Establishes a positioning context for the pseudo-element */
  font: 2em "Kanit", sans-serif;
  color: #000000;
  margin-bottom: 20px;
  text-align: center; /* Centers the text */
  padding-bottom: 20px; /* Space between text and underline */
  padding-top: 20px;
}

.header::after {
  content: ''; /* Required for pseudo-elements */
  display: block; /* Makes the pseudo-element behave like a block */
  margin: 0 auto; /* Centers the block horizontally */
  height: 4px; /* The thickness of your underline */
  background-color: #ff0000; /* The color of your underline */
  width: 50%; /* Adjust this to control the width of the underline */
  position: absolute; /* Positions the pseudo-element relative to the parent */
  left: 50%; /* Moves the pseudo-element to the center of the parent */
  transform: translateX(-50%); /* Ensures the pseudo-element is perfectly centered */
  bottom: 0; /* Positions the pseudo-element at the bottom of the parent */
}
.slideshowContainer {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slidesWindow {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

/* Slide default style: full width, hidden, and absolutely positioned */
.slide {
  flex: 0 0 auto; /* Don't grow or shrink */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 33.3333%; /* Set width to show three slides at a time */
  opacity: 0.5;
  position: relative; /* Keep all slides in the document flow */
}


/* Active slide style: full width, visible, and relatively positioned */
.active {
  flex: 0 0 auto; /* Don't grow or shrink */
  width: 33.3333%; /* Adjust width as needed */
  opacity: 1;
  z-index: 2; /* Make sure the active slide is on top */
}
.prevSlide {
  transform: translateX(-50%);
  z-index: 1; /* Lower than the active slide */
}

.nextSlide {
  transform: translateX(50%);
  z-index: 1; /* Lower than the active slide */
}
/* Slide information styling */
.slideInfo {
  text-align: center; /* Center align text */
  font-size: 24px; /* Larger font size */
}

.slidePrice {
  text-align: center; /* Center align text */
  font-size: 20px;
  margin-bottom: 20px; /* Slightly smaller font size than the name */
}

/* Navigation buttons are absolutely positioned within the slideshowContainer */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Align vertically to the center of the container */
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 10; /* Ensure they are above all slides */
}
/* .dim {
  opacity: 0.5;
  transform: scale(0.8);
} */
.prev {
  left: 10px; /* Spacing from the left edge */
}

.next {
  right: 10px; /* Spacing from the right edge */
}
@media only screen and (max-width: 600px) {
  .prev, .next {
    font-size: 11px;
    padding: 12px;
  }
}
