/* CarSeriesPage.module.css */

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
    max-width: auto;
    margin: 0 auto;
    color: #000000;
   
  }
  
  .title {
    font-family: 'Kanit', sans-serif;
    text-align: left;
    font-size: 2em;
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: #000000;
    position: relative; /* Needed to position the pseudo-element */
  }
  
  .title::before {
    content: '';
    display: block;
    width: 100%; /* Full width of the element */
    height: 5px; /* Thickness of the line */
    background-color: red; /* Color of the line */
    position: absolute;
    top: 0; /* Position at the top of the parent element */
    left: 0; /* Align with the left edge of the parent element */
  }
  
  .detail {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 30px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .callButton,
  .mapButton {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .callButton:hover,
  .mapButton:hover {
    background-color: #0056b3;
  }
  
  .cardImage {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .cardDescription {
    text-align: center;
    margin-bottom: 40px;
  }
  

  .logo {
    display: block;
    max-width: 50%; /* Adjust as needed */
    margin: 10px;
    text-align: left;
    padding-left: 10px;
  }
  
  .modelList {
    margin: 20px 0;
  }
  
  .model {
    text-align: center;
    font-size: 1.5em;
  }
  
  .galleryContainer {
    margin: 20px 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .galleryImage {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
    margin: 10px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownButton {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
  margin-left:40px;
    width: 80%;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .dropdownArrow {
    color: red; /* Change the arrow color to red */
  }
  .dropdownArrow::after {
    content: ''; /* Remove the pseudo-element content */
  }

  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent .dropdownItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownContent .dropdownItem:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  /* styles/CarSeriesPage.module.css */
/* ... existing styles ... */

/* Car image styles */
.carImageContainer img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

/* Color selection styles */
.colorSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.colorOption {
  border: none; /* Assuming you don't need a border here */
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.colorOption:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}
.price {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
  /* Do not set color here if it's the same for all child elements */
}

.priceText {
  color: black;
  /* Other styling as needed */
}

.priceValue {
  color: red;
  /* Other styling as needed */
}

.engineSpecs {
  margin-left: 20px;
  display: flex;
  justify-content: space-around; /* Distributes space evenly between elements */
  align-items: flex-start; /* Aligns items to the start of the cross axis (top in this case) */
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
}

.specItem {
  display: flex;
  flex-direction: column; /* Stack the image and text on top of each other */
  justify-content: start; /* Align content to the start */
  align-items: center; /* Center-align the items within each specItem */
  flex-basis: calc(33.333% - 10px); /* Adjust the width and subtract any margin/gutter */
  margin: 5px; /* Half of your gutter */
  min-height: 150px; /* Adjust as necessary so all items have at least this height */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}
.specItem {
  min-height: 150px; /* Adjust as necessary */
}

.engineSpecItem {
  flex: 1; /* Ensures each child takes up equal space */
  text-align: center; /* Centers the content of each spec item */
  /* Add padding or margins as necessary for spacing around the items */
}
.performanceHeading {
  display: block; /* Ensure it's a block-level element */
  margin-bottom: 10px; /* Space below the heading */
  margin-right: 50%;
  font-size: 2.0em;
  margin-bottom: 10%;
  font-style: italic;
  margin-left: 20px;

}

.galleryHeading {
  display: block; /* Ensure it's a block-level element */

  margin-right: 50%;
  font-size: 2.0em;
  /* margin-bottom: -5%; */

  margin-left: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Adjust the gap between buttons as needed */
}

.button {
  padding: 10px 20px;
  color: white;
  background-color: #E60023; /* Toyota red */
  border: none;
  border-radius: 20px;

  cursor: pointer;
  text-align: center;
  /* Add any other button styling as needed */
}
/* ... rest of your styles ... */

  /* Add any additional styles you need for the page */
  .specItem {
    display: flex;
    flex-direction: column; /* Stack the icon and text vertically */
    align-items: center; /* Center align the items */
  }
  .specItem img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 5px; /* Space between image and text */
  }
  /* สำหรับแท็บคอนเทนเนอร์ */
  .tabs {
    /* display: flex; */
    justify-content: center; /* Center the tabs horizontally */
    align-items: center; /* Center the tabs vertically */
    flex-wrap: wrap; /* Wrap tabs to new line on small screens */

    gap: 10px; /* Space between tabs */
    margin: 0 auto; /* Center the container */
    max-width: fit-content; /* Adjust the width to fit the content */
    border-radius: 5px; /* Rounded corners for the container */

  }
  
/* สำหรับแท็บปกติ */
.tab {
  background: none;
  border: none;
 
  margin-right: 10px; /* Space between tabs */
  cursor: pointer;
  font-weight: normal; /* Normal text weight */
  color: #333; /* Default color for tab text */
  outline: none; /* Remove focus outline */
  border-bottom: 2px solid transparent; /* Invisible border by default */
  transition: color 0.3s, border-color 0.3s; /* Smooth transition for color and border */
}

.tab:hover {
  color: #E60023; /* Change color on hover */
  border-color: #E60023; /* Show underline on hover */
}

.activeTab {
  color: #E60023; /* Red color for active tab */
  border-bottom: 2px solid #E60023; /* Red underline for active tab */
/* Bold text for active tab */
  margin-right: 10px; /* Keep the same margin for consistency */
}
/* สำหรับแท็บที่เลือก */
.galleryContainer {
  display: grid;
  grid-template-columns: 1fr; /* Single column for the full-width image */
  grid-gap: 10px;
  margin-top: 20px;
}
.fullWidthImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.gridImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for the rest of the images */
  grid-gap: 10px;
}
.largeImageContainer img {
  width: 100%; /* Full width of the container */
  display: block; /* Remove any inline spacing */
  margin: auto; /* Center the image if necessary */
}
/* สำหรับแกลเลอรี่ */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* หรือ space-around หรือ flex-start ตามที่ต้องการ */
  gap: 10px; /* ใช้เพื่อเพิ่มระยะห่างระหว่างรูปภาพ */
}
.galleryGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 10px; /* Gap between the images */
  justify-items: center;
  /* If there is padding on the sides of the grid, ensure it matches with the large image container */
}
.leftAlignText {
  color: #000000;
  text-align: left;
  display: block;
  width: 35%;
}
.centerAlignText {
  color: #000000;
  text-align: center; /* Aligns text to the center */
  /* or use flexbox properties if it's within a flex container */
  /* Centers the element within a flex container */
  margin-right: 10%;
  max-width: 100%; 
  display: block;
  margin-left: 5%;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
}
.modelNameStyle {

  color: blue;
  /* Add more styles as needed */
}
/* สำหรับรูปภาพในแกลเลอรี่ */
.galleryImage {
  width: 100%;
  height: auto;
  object-fit: cover; /* This will make sure your images cover the area properly */
}
.stylish-text {
  font-family: 'kanit', sans-serif;
  color: #000000;
  font-size: 14px;

  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.cardDescription {
  font-family: 'Kanit', sans-serif;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  /* Other styles... */
}

.torqueSpec1 {
  font-size: 0.5em;
  color: #666;
  margin-top: 4px;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add an ellipsis at the end of the text */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show max 2 lines */
  -webkit-box-orient: vertical;
  max-height: 3em; /* Maximum height (ensure this is enough for two lines of text) */
  text-align: center;
}
.torqueSpec2 {
  font-size: 0.9em;
  color: #666;
  margin-top: 4px;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add an ellipsis at the end of the text */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show max 2 lines */
  -webkit-box-orient: vertical;
  max-height: 3em; /* Maximum height (ensure this is enough for two lines of text) */
  text-align: center;
}
.torqueSpec {
  font-size: 1.0em;
  color: #666;
  margin-top: 4px;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add an ellipsis at the end of the text */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show max 2 lines */
  -webkit-box-orient: vertical;
  max-height: 3em; /* Maximum height (ensure this is enough for two lines of text) */
  text-align: center;
}
.horsepowerValue {
  font-size: 1.2em; /* or the size you prefer */
  color: #666; /* Example color */
  font-weight: bold; /* if you want it to be bold */
}

.horsepowerUnit {
  font-size: 0.72em; /* Keep this the same as other text */
  color: #666; /* Same color for consistency */
   /* Adjust spacing between the value and the unit */
}
.cardDescriptionz {
  font-family: 'Kanit', sans-serif;
  font-size: 2.0em;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
  margin-left: 20px;
  border-bottom: 3px solid red; /* Red underline with 3px thickness */
  display: inline-block; /* This will ensure the border is only as wide as the text */
   width: calc(100% - 10%);
  /* Other styles... */
}