/* CarShowAllPage.module.css */
.container {
    max-width: 600px; /* Adjusted to allow for more space if needed */
    margin: auto;
    color: #000;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
  }
  
  .carContainer {
    padding: 20px;
    margin: 20px auto; /* Centered the container */
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .typeHeader {
    border-bottom: 1px solid #f55a5a;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #000;
  }
  
  .seriesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Creates space between items */
  }
  
  .seriesItem {
    margin-bottom: 20px; /* Space between rows */
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  }
  
  .seriesItem:first-child {
    width: 100%; /* First item takes full width */
  }
  
  .seriesItem:not(:first-child) {
    width: calc(50% - 10px); /* Adjust the 10px if needed based on the gap */
  }
  
  .seriesImage {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .seriesName {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
  }
  
  .seriesPrice {
    font-size: 18px;
    color: #666;
    font-weight: bold;
  }
  
  .seriesItem:hover {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  .detailButton {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #d73c3c; /* Bootstrap primary button color */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .detailButton:hover {
    background-color: #d73c3c; /* Darken button color on hover */
  }
  /* Responsive layout for smaller screens */
  @media (max-width: 390px) {
    .seriesItem:not(:first-child) {
      width: 100%; /* Each item takes full width on small screens */
    }
  }
  