.contactContainer {
    background-color: #ff000a;
    color: white;
    text-align: center; 
    max-width: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  
  .callCenter_ {
    font-size: 1.78rem;
    font-weight: 100;
  }
  .contact_ {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
  }
  
  

  
  .number {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .socialMedia {
    /* Example style */
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the space between icons */
  }

  .socialMedia a {
    color: red;
    font-size: 30px;
    background-color: white;
    padding: 3px;
    border-radius: 36px;
    height: 50px;
    width: 50px;
  }
  
  .socialMedia a:hover {
    color: #ccc; /* Example hover color */
  }
  .contactInfo {
    /* Add specific styles for contact info */
    font-size: 0.9rem;
    text-align: left;
    font-weight: 100;
    padding: 10px 20px 15px 20px;
  }
  .contactInfo_ {
    padding-bottom: 5px;
  }
  
  .copyRight {
    font-size: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 88px;
    padding-bottom: 10px;
  }
  