/* Header.module.css */
/* .header {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 0.5rem; 
  
} */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1050;
  border: none;
  box-shadow: none;
  padding: 12px 15px 12px 15px;
  background-color: transparent; /* Initial background color */
  opacity: 1; /* Set initial opacity to 1 */
  transition: opacity 0.3s ease, right 0.3s ease; /* Add opacity to the transition */
}
.menuClosed {
  opacity: 0; /* Set opacity to 0 to fade out */
  pointer-events: none; /* Prevents clicking on the menu when it's faded out */
  right: -250px; /* Keep the menu off-screen when it's not active */
}
.headerScrolled {
  background-color: white !important; /* Change background color when scrolled */
}
.iconContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.logoContainer {
  position: absolute;
  left: 0;
  padding-left: 15px; /* or any value to adjust the space from the edge */
}
.header-icons {
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
  /* Other styles... */
}
.Home_container__9OuOz {
  padding-top: 2000; /* หรือลบเส้นนี้หากคุณไม่ต้องการ padding ที่ด้านบนเลย */
  /* ปรับค่า padding ด้านอื่นๆ ตามความต้องการ */
}

.menuButton {
  background: none;
    border: none;
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2rem;
}


.menuLine {
  display: block;
  width: 2rem; /* ความกว้างของแต่ละขีด */
  height: 0.25rem; /* ความหนาของแต่ละขีด */
  background-color: black; /* สีของขีด */
  border-radius: 10px; /* ใส่โค้งมนให้ขีดเล็กน้อย */
  transition: all 0.3s ease;
}

/* ถ้าคุณมีเนื้อหาอื่นๆ ใน header และต้องการให้มันอยู่ทางซ้าย */
.logo {
  margin-right: auto; /* จะผลักโลโก้ไปทางซ้าย */
}
/* การตั้งค่าเริ่มต้นสำหรับเมนู nav, อาจจะซ่อนเมนูเมื่อไม่ใช้งาน */
.nav {
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  padding-top: 20px;
  right: -250px; /* Hide menu off-screen */
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  z-index: 1050; /* Make sure it's above other content */
  transform: translateX(100%); /* initially off-screen */
  transition: transform 0.3s ease-out;
}
.menuOpen {
  opacity: 1; /* Full opacity */
  pointer-events: auto; /* Allows clicking on the menu */
  right: 0; /* Bring the menu on-screen */
}

.menuItem {
  position: relative;
  display: block;
  width: calc(100% - 20px); /* Adjust 20px to the sum of left and right padding */
  margin: 0 20px; /* This should be half of the subtracted value in the width calculation */
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  box-sizing: border-box;
}

.menuItem:hover {
  background-color: #ddd;
}
/* การจัดรูปแบบเมนูเมื่อเปิด */
.navOpen {
  display: flex;
  flex-direction: column; /* ให้ลิงก์เรียงตามแนวตั้ง */
  position: absolute; /* หรือ 'fixed' ขึ้นอยู่กับว่าคุณต้องการให้เมนูตำแหน่งตายตัวหรือเลื่อนไปกับหน้า */
  top: 10%; /* ปรับค่านี้ตามตำแหน่งของ header ของคุณ */
  right: 0; /* จัดให้เมนูอยู่ทางด้านขวา */
  background: white; /* หรือสีอื่นที่คุณต้องการ */
  width: max-content; /* หรือกำหนดขนาดเฉพาะ */
  border: 1px solid #ccc; /* หรือสไตล์อื่นๆ ตามที่คุณต้องการ */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* เพิ่มเงาเล็กน้อย */
}

/* จัดรูปแบบสำหรับแต่ละลิงก์ในเมนู */
.navOpen a {
  padding: 10px 20px; /* ขนาดของพื้นที่คลิก */
  text-decoration: none; /* ลบเส้นใต้ลิงก์ */
  color: black; /* สีของข้อความ */
  display: block; /* ให้แต่ละลิงก์เป็นบล็อกตัวเอง */
}

/* เพิ่มรูปแบบสำหรับลิงก์เมื่อถูก hover */
.navOpen a:hover {
  background-color: #ddd; /* สีพื้นหลังเมื่อ hover */
}
.logo {
  /* ... สไตล์อื่นๆ ... */
  width: 100px; /* หรือขนาดเริ่มต้นที่คุณต้องการ */
  height: auto; /* รักษาอัตราส่วนของโลโก้ */
  /* สมมติว่าคุณมีขนาดเริ่มต้นของโลโก้ที่นี่ */
}
.locationIcon {
  width: 20px; /* ลดขนาดเหลือ 50% */
  height: auto; /* รักษาอัตราส่วนของโลโก้ */
}
.searchIcon {
  width: 20px; /* ลดขนาดเหลือ 50% */
  height: auto; /* รักษาอัตราส่วนของโลโก้ */
}
.newcarIcon {
  width: 20px; /* ลดขนาดเหลือ 50% */
  height: auto; /* รักษาอัตราส่วนของโลโก้ */
}
.dropdown {
  flex-direction: column;
  position: absolute;
  top: 100%; /* Below the menu item */
  left: 0;
  background-color: #fff; /* Your preferred background color */
  width: 100%; /* Match the width of the parent */
  border-top: 1px solid #ccc; /* Optional border */
  z-index: 10; /* Above the other content but below fixed elements */
  opacity: 0; /* Fully transparent */
  visibility: hidden; /* Not visible */
  transform: translateY(-10px); /* Start above the actual position */
  transition: opacity 0.3s ease, visibility 0s linear 0.3s, transform 0.3s ease; /* Fade effect for opacity and transform */
}
.dropdownOpen {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Visible */
  transform: translateY(0); /* Actual position */
  transition: opacity 0.3s ease, visibility 0s linear 0s, transform 0.3s ease; /* Fade effect for opacity and transform */
}
.dropdownItem {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Your preferred color */
}

/* Toggle display for dropdown */
.menuItem:hover > .dropdown {
  display: flex;
}
.arrowDown::after,
.arrowUp::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrowDown::after {
  border-top: 5px solid black; /* Adjust color as needed */
}

.arrowUp::after {
  border-bottom: 5px solid black; /* Adjust color as needed */
}
/* Media query สำหรับหน้าจอที่มีความกว้างไม่เกิน 430px */
@media (max-width: 432px) {
  .logo  {
    width: 70px; /* ลดขนาดเหลือ 50% */
    height: auto; /* รักษาอัตราส่วนของโลโก้ */
  }
  .locationIcon {
    width: 15px; /* ลดขนาดเหลือ 50% */
    height: auto; /* รักษาอัตราส่วนของโลโก้ */
  }
  .searchIcon {
    width: 25px; /* ลดขนาดเหลือ 50% */
    height: auto; /* รักษาอัตราส่วนของโลโก้ */
  }
  .newcarIcon {
    width: 25px; /* ลดขนาดเหลือ 50% */
    height: auto; /* รักษาอัตราส่วนของโลโก้ */
  }
  .menuItem:first-child {
    margin-top: 20px; /* Adjust the value as needed */
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding-top: 60px;
    right: 0;
    transform: translateX(100%);
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none; /* This will ensure the menu doesn't interfere with other elements when closed */
    z-index: 1050;
  }
  .dropdown {
    flex-direction: column;
    position: absolute;
    top: 100%; /* Below the menu item */
    left: 0;
    background-color: #fff; /* Your preferred background color */
    width: 100%; /* Match the width of the parent */
    border-top: 1px solid #ccc; /* Optional border */
    z-index: 10; /* Above the other content but below fixed elements */
    opacity: 0; /* Fully transparent */
    visibility: hidden; /* Not visible */
    transform: translateY(-10px); /* Start above the actual position */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s, transform 0.3s ease; /* Fade effect for opacity and transform */
  }
  .dropdownItem {
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Your preferred color */
  }
  .dropdownToggle {
    float: right; /* Positions the toggle to the right */
    padding-right: 10px;
    font-size: 20px !important;/* Increase the font size as needed */
    line-height: 20px !important; /* Adjust line height to vertically center the plus sign */
  }

  .dropdownOpen {
    display: flex; /* Show the dropdown */
    opacity: 1; /* Fade to fully visible */
    visibility: visible; /* Make it visible */
    transition: opacity 0.3s ease, visibility 0s linear 0s, transform 0.3s ease; /* Fade effect for opacity and transform */
  }
  .dropdownToggle::after {
    
    content: '+'; /* This is the plus sign */
    /* Additional styling for the plus sign */
    padding-left: 8px; /* Spacing from the label */
    line-height: 20px !important;  /* Increase the font size as needed */
    font-size: 20px !important; /* Adjust line height to vertically center the plus sign */
  }
  /* Toggle display for dropdown */
  .menuItem:hover > .dropdown {
    display: flex;
  }
  .menuOpen {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto; /* This will allow the menu to be interactive when open */
  }
  .menuClosed {
    right: -250px;
    opacity: 0;
    visibility: hidden;
  }
  .menuItem {
    position: relative;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid #ccc; /* Adjust color as needed */
    /* Add hover styles if desired */
  }
  
  .menuItem:hover {
    background-color: transparent; /* Removes the background color */
    
  }
  .closeButton {
    font-size: 24px; /* Or any size you want */
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menuOpen .menu {
    transform: translateX(0);
  }
  .arrowDown::after,
.arrowUp::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrowDown::after {
  border-top: 5px solid black; /* Adjust color as needed */
}

.arrowUp::after {
  border-bottom: 5px solid black; /* Adjust color as needed */
}
}