/* LocationList.module.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Kanit', sans-serif;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .callButton {
    margin-top: 8px;
    background-color: #d9d6d6;
    border-radius: 20px;
    padding: 8px 16px;
    display: inline-block;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    color: #333;
  }
  
  .header {
    color: #d54d7b; /* สีหัวข้อตามการออกแบบ */
    margin-bottom: 20px; /* ระยะห่างข้างล่างหัวข้อ */
    text-align: center; /* จัดหัวข้อให้อยู่ตรงกลาง */
    border-bottom: 4px solid #d54d7b; /* เส้นใต้หัวข้อ */
    padding-bottom: 10px; /* ระยะห่างระหว่างหัวข้อกับเส้นใต้ */
  }
  
  .listItem {
    background-color: #fff; /* พื้นหลังของแต่ละรายการ */
    border-left: 10px solid #ff0000;
    margin-bottom: 16px; /* ระยะห่างระหว่างรายการ */
    padding: 16px; /* ระยะห่างภายในรายการ */
    display: flex;
    align-items: center; /* จัดรายการให้อยู่ตรงกลางแนวตั้ง */
    justify-content: space-between; /* จัดห่างระหว่างข้อมูลกับปุ่ม Google Map */
    font-family: 'Kanit', sans-serif;
  }
  
  /* locationzone */
  .locationInfo {
    flex: 1; /* ให้ข้อมูลเต็มพื้นที่ที่เหลือ */
  }
  .locationItem {
    /* สไตล์เดิมที่คุณมี */
    position: relative;
    /* รหัสอื่นๆ */
  }
  .locationTitle {
    color: #000; /* สีของชื่อสถานที่ */
    font-weight: bold; /* ตัวหนา */
    margin-bottom: 8px; /* ระยะห่างข้างล่างชื่อ */
  }
  
  .locationDetails {
    color: #666;
    font-size: 0.75em;
    padding: 10px 0px 10px 0px;
  }
  
  .mapButton {
    font-weight: bold;
    margin-top: 8px;
    background-color: #d9d6d6;
    border-radius: 20px;
    padding: 8px 16px;
    display: inline-block;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    color: #333;
  }
  .phoneButton {
    /* สไตล์เดิมที่คุณมี */
    position: absolute;
    top: 16px; /* หรือระยะที่คุณต้องการ */
    left: 16px; /* หรือระยะที่คุณต้องการ */
    /* รหัสอื่นๆ */
  }

  
  /* คุณอาจจะต้องปรับแต่งเพิ่มเติมให้เข้ากับการออกแบบของคุณ */
  
  .locationTypes {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 1px 12px;
    display: inline-block;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    color: #000;
  }