.container{

}
.policyContainer {
    
    padding: 20px;
    max-width: 800px; /* Adjust the max-width as needed */
    background-color: #ffffff;
    color: #333;
    font-family: Arial, sans-serif; /* Use a web-safe font or import one */
    margin-top: 50px;
       border-top: 5px solid #B30000; /* ปรับขนาดและสีตามต้องการ */

  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
   
  }
  .header1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }

  .header2 {
  
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }

  .header3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
    text-decoration: underline; /* Adds underline */
    text-decoration-color: #B30000; /* Sets underline color to red */
   
  }
  .paragraph{
    padding-left: 10px;
  }
  .paragraph1{
    padding-left: 20px;
  }
  .paragraph2{
    padding-left: 30px;
  }
  .textContent {
    line-height: 1.6;
    text-align: justify;
  }
  