/* PromotionSale.module.css */
.container {
    background: #FFFFFF;

    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    flex-direction: column;
    color: #000;
    margin-top: 50px;
    border-top: 5px solid #B30000; /* Adds a red border to the top */
  }


  .promotionSaleTitle {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 20px; /* Add some bottom margin to create space */
    text-align: center; /* Center the text horizontally */
    /* Add more styles as needed */
    color: #000;
    text-decoration: underline; /* Adds underline */
    text-decoration-color: #B30000; 
    margin-top: 25px;
  }
.promotionContainer {
   
    grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
    gap: 20px; /* Space between items */
    padding: 20px; /* Padding around the entire container */
}

.promotionItem {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    aspect-ratio: 2 / 1; /* This will make each item twice as wide as it is tall */
    display: flex;
    flex-direction: column; /* Stack image and details vertically */
    margin-bottom: 15px;
}

.promotionImage {
    width: 100%;
    height: auto; /* Maintain aspect ratio of the image */
    object-fit: cover; /* Cover the area of the element without stretching */
    gap: 30px;

}

.promotionDetails {
    padding: 15px;
    flex-grow: 1; /* Allows the details section to fill the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Push the title up and subtitle down */
    color: #000;
    margin-bottom: 15px;
}

.promotionTitle {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #000;
}

.promotionSubtitle {
    font-size: 1rem;
    color: #000;
    margin-top: auto; /* Pushes the subtitle to the bottom */
}
