.container {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    flex-direction: column;
   
    margin-top: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .moreDetails {
    color: red; /* Set the text color to red */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    text-decoration: underline; /* Optionally, underline to emphasize it's a link */
    margin-top: 10px; /* Spacing from the above paragraph, adjust as needed */
    font-weight: bold; /* Optional: make it bold to stand out */
  }

  .moreDetails:hover {
    text-decoration: none;
  }
.promotionContainer {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    gap: 20px;
    justify-content: center;
    overflow-x: auto; /* Allows horizontal scrolling */
    padding: 20px;
}
  
  .promotionItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(50% - 20px); /* Adjust based on your design preference */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 0 0 auto; /* Do not grow, do not shrink, basis is auto */
    width: auto;
  }
  
  .promotionImage {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  
  .promotionDetails {
    padding: 20px;
  }
  
  .promotionDetails h2 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #000;
  }
  

  .centered-text {
    text-align: center;
    margin: 0 auto;
    color: red;
    /* เพิ่มสไตล์อื่น ๆ ตามต้องการ */
  }
