/* SlideIndex.module.css */

.slideshowContainer_ {
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slideshowContainer {
  max-width: 600px; /* You can adjust this value */
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-top: 0px;
  height: auto;
}
.iconOnSlide {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  z-index: 10; /* Ensure it's above the slide image */
}
.slideContent {
  position: relative;
}

.detailButton {
  position: absolute;
  bottom: 20px; /* Adjust to position the button from the bottom of the container */
  left: 20%; /* Center the button horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  padding: 5px 20px; /* Padding inside the button */
  background-color: transparent; /* Transparent background */
  color: #ffffff; /* Text color */
  border: 2px solid #ffffff; /* White border */
  cursor: pointer;
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Text size */

  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline from links */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  /* Other styles as needed */
}

.detailButton:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slight background on hover for usability */
  border-color: #dddddd; /* Change border color on hover */
}

  .slideInfo {
    margin-top: 0px;
    text-align: center;
    font-size: 24px;
  }
  .slidePrice {
    text-align: center; /* Center align text */
    font-size: 20px;
    margin-bottom: 20px; /* Slightly smaller font size than the name */
  }
  .slide {
    display: none; /* Hide slides by default */
    animation: fade 0.5s ease-in-out;
    width: 100%; /* Full width of the container */
  }
  
  .active {
    display: block; /* Show the active slide */
  }
  
  /* Optional: Fade-in animation for each slide */
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Navigation buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Responsive */
  @media only screen and (max-width: 600px) {
    .prev, .next, .text {
      font-size: 11px;
    }
  }
  