/* TurnCar.module.css */
.container {
    margin-top: 50px;
    background-color: #f9f9f9;
    color: #333;
    border-top: 5px solid red; /* Adds a red border to the top */
  }
.turnCarFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .topImage {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  .timeInput {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#preferredTime {
    border: 1px solid #ccc;
    height: 48px;
    padding: 0 15px;
    font-size: 16px;
    width: calc(100% - 30px); /* Adjust width if needed */
    margin-bottom: 20px; /* Space between the elements */
}
  .turnCarForm {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;

  }
  
  .turnCarForm label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .turnCarForm input[type="text"],
  .turnCarForm input[type="email"],
  .turnCarForm input[type="tel"],
  .turnCarForm select,
  .turnCarForm input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .turnCarForm button.submitButton {
    width: 50%; /* You can adjust the width as needed */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #B30000; /* Button color */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Centering the button */
    margin: 0 auto; /* Auto margins on the sides */
  }
  
  .turnCarForm button.submitButton:hover {
    background-color:  #B30000;
  }

  .fileInputContainer {
    margin-bottom: 1rem; /* Adds space below each file input container */
  }
  
  .formField {
    width: 100%; /* Full width */
    padding: 0.5rem; /* Padding for better touch */
    margin-bottom: 0.5rem; /* Space below the field */
    border: 1px solid #ccc; /* A subtle border */
    border-radius: 4px; /* Rounded borders */
  }
  
  .fileNameDisplay {
    padding: 0.5rem; /* Padding to match input field */
    background-color: #f7f7f7; /* A light grey background to distinguish the area */
    border: 1px solid #eaeaea; /* A lighter border for the filename display */
    border-radius: 4px; /* Consistent rounded borders */
    margin-bottom: 1rem; /* Space below the filenames */
  }
  
  .fileName {
    display: inline-block; /* Allows files to flow like text */
    margin-right: 0.5rem; /* Space between filenames */
    padding: 2px 5px; /* A bit of padding around the text */
    background-color: #e1e1e1; /* Slightly darker to stand out */
    border-radius: 2px; /* Slightly rounded edges on tags */
    font-size: 0.85rem; /* Smaller text */
  }
  
  .addButton {
    background-color: #B30000; /* Bootstrap primary color */
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 10%; /* Adjusted padding; 20px top and bottom, 10% left and right */
    margin-bottom: 20px;
    width: auto; /* Ensure the width is automatic */
    display: block; /* To enable margin auto to work */
    margin-left: 25%; /* Auto margin on left */
    margin-right: 25%; /* Auto margin on right */
  }
  
  .addButton:hover {
    background-color: #B30000; /* Darker blue on hover */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .turnCarFormContainer {
      background-color: #ffffff;
      
    }
  
    .topImage {
      max-width: 100%;
    }
  
    .turnCarForm {
      padding: 10px;
      
      background-color: #ffffff;
    }
  }
  